<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmu.manager.mapper.AuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kmu.manager.entity.Auth">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <select id="selectAuthNameByManagerId" resultType="string">
    SELECT a.name FROM t_auth a WHERE a.id IN(
    SELECT auth_id FROM inner_role_auth WHERE role_id IN(
    SELECT r.id FROM t_role r WHERE r.id IN (
    SELECT role_id FROM inner_manager_role mr WHERE mr.manager_id = #{id}
    )));
</select>

</mapper>
